Repository Valerolactone/core_todo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, flake8, pylint

black:
  name: black
  entry: poetry run black
  language: system
  args:
  - --skip-string-normalization

isort:
  name: isort
  entry: poetry run isort
  language: system
  args:
  - --profile=black

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  args:
  - --ignore=E501

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  args:
  - --disable=C
  - --disable=no-member
  - --disable=too-few-public-methods
  - --disable=W0613
  - --disable=W0105

added tests
  .github/workflows/django-test.yml
  .pre-commit-config.yaml
  core/api/fixtures/project_participants.json
  core/api/fixtures/projects.json
  core/api/fixtures/task_attachments.json
  core/api/fixtures/task_subscribers.json
  core/api/fixtures/tasks.json
  core/api/serializers.py
  core/api/services.py
  core/api/tests.py
  core/api/urls.py
  core/api/views.py
  core/test.py
  create_test_db.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

test ci try2
  .github/workflows/django-test.yml
  .github/workflows/linters.yml
  core/api/models.py
  core/api/tests.py
  create_test_db.py
Due: black, isort, mypy, flake8, pylint

test ci try3
  .github/workflows/django-test.yml
Due: none

rewrote tests
  .github/workflows/django-test.yml
  .github/workflows/linters.yml
  .pre-commit-config.yaml
  core/api/fixtures/project_participants.json
  core/api/fixtures/projects.json
  core/api/fixtures/task_attachments.json
  core/api/fixtures/task_subscribers.json
  core/api/fixtures/tasks.json
  core/api/migrations/0002_alter_projectmodel_options_and_more.py
  core/api/models.py
  core/api/tests.py
  core/api/views.py
  core/core/settings.py
  create_test_db.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

run tests in ci try1
  .github/workflows/django-test.yml
Due: none

run tests in ci try2
  .github/workflows/django-test.yml
  core/core/settings.py
Due: black, isort, mypy, pylint

run tests in ci try3
  .github/workflows/django-test.yml
  core/core/settings.py
Due: black, isort, mypy, pylint

run tests in ci try4
  core/core/settings.py
Due: black, isort, mypy, pylint

run tests in ci try5
  core/api/tests.py
Due: black, isort, mypy, flake8, pylint

added filtering, ordering and pagination
  core/api/tests.py
  core/api/views.py
  core/core/settings.py
Due: black, isort, mypy, flake8, pylint

fixed tests
  core/api/tests.py
Due: black, isort, mypy, flake8, pylint

changed views and tests
  core/api/serializers.py
  core/api/tests.py
  core/api/views.py
  core/core/settings.py
Due: black, isort, mypy, flake8, pylint

added dev and prod settings
  .github/workflows/django-test.yml
  .pre-commit-config.yaml
  core/core/settings/base.py
  core/core/settings/dev.py
  core/core/settings/prod.py
  entrypoint.sh
Due: black, isort, mypy, flake8, pylint

fix ci tests
  .github/workflows/django-test.yml
Due: none

fixed update logic
  core/api/serializers.py
  core/api/services.py
  core/api/views.py
Due: black, isort, mypy, flake8, pylint

added new update endpoint
  core/api/serializers.py
  core/api/tests.py
  core/api/urls.py
  core/api/views.py
Due: black, isort, mypy, flake8, pylint

fixed the foreign key logic
  .github/workflows/django-test.yml
  core/api/migrations/0002_alter_projectmodel_options_and_more.py
  core/api/models.py
  core/api/serializers.py
  core/api/tests.py
  core/core/settings/ci_cd.py
  core/core/settings/dev.py
Due: black, isort, mypy, flake8, pylint

fixed the foreign key logic try2
  .github/workflows/django-test.yml
Due: none

crud (#9)
  .github/workflows/django-test.yml
  .pre-commit-config.yaml
  core/api/migrations/0001_initial.py
  core/api/migrations/0002_alter_projectmodel_options_and_more.py
  core/api/models.py
  core/api/serializers.py
  core/api/tests.py
  core/api/urls.py
  core/api/views.py
  core/core/settings/base.py
  core/core/settings/ci_cd.py
  core/core/settings/dev.py
  core/core/settings/prod.py
  core/core/urls.py
  core/test.py
  entrypoint.sh
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

added more crud logic
  core/api/admin.py
  core/api/migrations/0001_initial.py
  core/api/migrations/0002_alter_projectmodel_options_and_more.py
  core/api/models.py
  core/api/serializers.py
  core/api/services.py
  core/api/tasks.py
  core/api/urls.py
  core/api/views.py
  core/core/celery.py
Due: black, isort, mypy, flake8, pylint

updated services, views and tests
  core/api/admin.py
  core/api/migrations/0001_initial.py
  core/api/migrations/0002_alter_projectmodel_options_and_more.py
  core/api/migrations/0003_alter_taskmodel_unique_together_and_more.py
  core/api/migrations/0004_rename_participation_pk_projectparticipant_project_participant_pk_and_more.py
  core/api/models.py
  core/api/serializers.py
  core/api/services.py
  core/api/tasks.py
  core/api/tests.py
  core/api/views.py
  core/core/celery.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

update user_id
  core/api/views.py
Due: black, isort, mypy, flake8, pylint

fixed services logic
  core/api/services.py
  core/api/views.py
Due: black, isort, mypy, flake8, pylint

added more crud logic (#10)
  core/api/admin.py
  core/api/migrations/0003_alter_taskmodel_unique_together_and_more.py
  core/api/migrations/0004_rename_participation_pk_projectparticipant_project_participant_pk_and_more.py
  core/api/models.py
  core/api/serializers.py
  core/api/services.py
  core/api/tests.py
  core/api/urls.py
  core/api/views.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

conf celery
  .env.example
  core/api/migrations/0005_task_deadline_notified.py
  core/api/models.py
  core/api/services.py
  core/api/tasks.py
  core/api/views.py
  core/core/__init__.py
  core/core/celery.py
  core/core/settings/__init__.py
  core/core/settings/base.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

update dockerfile
  docker-compose.yml
  entrypoint.sh
Due: none

added celery and celery beat
  core/api/serializers.py
  core/api/services.py
  core/api/tasks.py
  core/api/tests.py
  core/api/urls.py
  core/api/views.py
  core/core/__init__.py
  core/core/celery.py
  core/core/settings/__init__.py
  core/core/settings/ci_cd.py
  core/core/settings/dev.py
  core/core/settings/prod.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

modify ci file
  .github/workflows/django-test.yml
Due: none

updates tests
  core/api/tests.py
Due: black, isort, mypy, flake8, pylint

updated tests
  core/api/tests.py
  core/api/views.py
Due: black, isort, mypy, flake8, pylint

updated test for task executor
  core/api/tests.py
Due: black, isort, mypy, flake8, pylint

updated test for creating task subscription
  core/api/tests.py
Due: black, isort, mypy, flake8, pylint

rewrote celery tasks
  core/api/migrations/0005_task_deadline_notified.py
  core/api/migrations/0005_tasknotification.py
  core/api/models.py
  core/api/services.py
  core/api/tasks.py
  core/api/views.py
  core/core/celery.py
  core/core/settings/base.py
  core/core/settings/celery.py
  core/core/settings/dev.py
Due: black, isort, mypy, flake8, pylint

update ci
  core/core/settings/ci_cd.py
Due: black, isort, mypy, flake8, pylint

updated exceptions
  core/api/tasks.py
Due: black, isort, mypy, flake8, pylint

Celery (#11)
  .env.example
  .github/workflows/django-test.yml
  core/api/migrations/0005_tasknotification.py
  core/api/models.py
  core/api/serializers.py
  core/api/services.py
  core/api/tasks.py
  core/api/tests.py
  core/api/urls.py
  core/api/views.py
  core/core/celery.py
  core/core/settings/base.py
  core/core/settings/celery.py
  core/core/settings/ci_cd.py
  core/core/settings/dev.py
  core/core/settings/prod.py
  docker-compose.yml
  entrypoint.sh
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

jwt middleware
  .env.example
  .pre-commit-config.yaml
  core/api/services.py
  core/api/tasks.py
  core/api/tests.py
  core/api/utils.py
  core/api/views.py
  core/authentication.py
  core/core/__init__.py
  core/core/celery.py
  core/core/settings/base.py
  core/middleware.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

fixed auth logic
  core/api/services.py
  core/api/tasks.py
  core/api/tests.py
  core/api/utils.py
  core/api/views.py
  core/authentication.py
  core/core/settings/base.py
  core/core/urls.py
  core/middleware.py
Due: black, isort, mypy, flake8, pylint

added kafka
  core/api/tasks.py
  core/api/views.py
  core/core/kafka_producer.py
  core/core/settings/celery.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

rewrote into sync producer
  core/api/tasks.py
  core/core/kafka_producer.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: migrations
  flake8: any of: \.py$, but not: (?x)^(
^core/api/migrations/.*
)$ |
settings.py |
create_test_db.py         

  pylint: any of: \.py$, but not: (?x)^(
^core/api/migrations/.*|
)$ |
manage.py |
create_test_db.py   

